<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falcon's Music</title>
    <link rel="stylesheet" href="../Statics/style/artistasPage.css">
</head>
<body>
    <script src="../Dynamics/baseDeDatos.js"></script>


    <aside id="botones">
        <p id="nombre"><img id="imgperfil" href="">Perfil</p>
        <p class="asideP">NAVEGAR</p>
        <div><button class="asideBtns" id="btnGenero">GENERO</button></div>
        <div><button class="asideBtns" id="btnPlaylist">PLAYLIST</button></div>
        <div><button class="asideBtns" id="btnArtistas">ARTISTAS</button></div>
        <p class="asideP" id="libreria">LIBRERIA</p>
        <div><button class="asideBtns" id="favoritos">FAVORITOS</button></div>
        <div><button class="asideBtns" id="btnAgregar">Agregar playlist</button></div>
    </aside>
    <nav>
        <div>
            <h2 id="nombrePagina">Falcon's Music</h2>
            <img id="logo" src="">
        </div>
    </nav>
   
    <section id="artistas">
            <div style="display: flex; flex-direction: row;"><h2 id="art-encabezado">Artistas</h2><div id="cerrar"><img src="../Statics/media/cerrarVentana.png"></div></div>
            <div id="contenedores-art">
                <div id="artists-container1" class="artists-container"></div>
            </div>
    </section>


    <footer>
        <div id="cancionArtista">
            <p id="artistaCancionR"><img id="imagCancion" href="../Statics/media/background.png">Artista</p>
            <p id="cancionReproducida">Canción reproduciendose</p>
        </div>
        <button id="favBtn"><img href=""></button>
        <button id="pastSong"><img href=""></button>
        <button id="playPausa"><img href=""></button>
        <button id="postSong"><img href=""></button>
        <button id="colaReproduccion"><img href=""></button>
    </footer>

    <!-- scripts para las dimicas de la pagina-->
    <script src="../Dynamics/baseDeDatos.js"></script>
    <script src="../Dynamics/js/ventanaArtistas.js"></script>
    <script src="../Dynamics/js/crearPlaylist.js"></script>
    <!-- js del buscador, vi que en el js principal agregaron los albums y no quisiera que se comprometiera-->
    <script src="../Dynamics/js/buscador.js" ></script>

</body>
</html>