<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falcon's Music - Inicio sesión</title>
    <link rel="stylesheet" href="../Statics/style/loginStyle.css">
</head>
<body>
    <section id="inicioSesion">
        <div id="login-container">
            <img id="foto-login" src="../Statics/media/foto-login.webp">
            <br>
            <div id="sesion"><h2>Inicie Sesión</h2></div>
            <form id="loginForm">
                <label for="usuario">Nombre de usuario:</label>
                <br>
                <span id="error-usuario" class="error"></span>
                <input type="text" class="input" id="usuario" minlength="5" maxlength="13" placeholder="Escriba su usuario" required>
                <br>
                <label for="contraseña">Contraseña:</label>
                <br>
                <span id="error-contraseña" class="error"></span>
                <input type="password" class="input" id="contraseña" placeholder="Escriba su contraseña" required>
                <br>
                <button type="submit" id="iniciar">Entrar</button>
            </form>
            <article>Si no estas registrado <a href="./crearCuenta.html" style="color: rgb(2, 105, 2);">Crear cuenta</a></article>
        </div>
    </section>
    <section id="bienvenida-container">
        <div id="bienvenida">
            <h1>Bienvenido a Falcon's Music</h1>
        </div>
    </section>

    <script src="../Dynamics/js/inicioSesion.js"></script>
</body>
</html>
