<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falcon's Musica - Inicio sesión</title>
    <link rel="stylesheet" href="../Statics/style/loginStyle.css">
</head>
<body>
    <aside>
        <div id="inicioSesion">
            <div id="sesion"><h2>Inicia Sesión</h2></div>
            <br>
            <form id="loginForm">
                <label for="usuario">Nombre de usuario:</label>
                <br>
                <input type="text" class="input" id="usuario" minlength="5" maxlength="13" placeholder="Escriba su usuario" required>
                <br>
                <label for="contraseña">Contraseña:</label>
                <br>
                <input type="password" class="input" id="contraseña" placeholder="Escriba su contraseña" required>
            </form>
        </div>
    </aside>
    <section>
        <div id="NombrePlataforma">
            <h1>Bienvenido a Falcon's Music</h1>
        </div>
    </section>
</body>
</html>