<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/style/MainPageStyle.css">
    <title>Falcon's Music</title>
</head>
<body>
     <!--sidebar-->
     <aside class="sidebar">
    <div class="profile">👤 Perfil</div>
    <nav class="menu">
      <a href="#">NAVEGAR</a>
      <a href="#">GENERO</a>
      <a href="#">PLAYLIST</a>
      <a href="#">ARTISTAS</a>
      <a href="#">LIBRERÍA</a>
    </nav>
    <div class="fav">
      <p>FAVORITOS</p>
      <a href="#">Agregar playlist</a>
    </div>
  </aside><!--lo podemos convertir a botones que nos lleven <a href="perfil.html"> Chequenlo si quieren-->

    <main class="main-content"></main>

    <!--encabezado-->
    <section class="holo">
        <input type="text" class="search-bar" placeholder="Buscar">
        <h2>Falcon's Music</h2>
         <img id="logo" src="">
    </section>
  
    <!--Sección Home-->
    <section id="PaginaPrincipal">
        <div><img id="imgDecoracion" src=""></div>

    <!--Top Albumes Carrusel-->
    <section class="carrusel-section">
        <h2>Top Albumes del momento</h2>
        <div class="carrusel">
            <button class="carrusel.btn prev">&#10094;</button>
            <div class="carrusel-track">
                <img src="Statics/images/album1.jpg" alt="Álbum 1">
                <img src="Statics/images/album2.jpg" alt="Álbum 2">
                <img src="Statics/images/album3.jpg" alt="Álbum 3">
            </div>
            <button class ="carrusel-btn next">&#10095;</button>
        </div>
    </section>

        <!--Mas escuchados y recomendaciones-->
      <section class="lists">
        <div class="most-played">
            <h3>MÁS ESCUCHADOS</h3>
            <ol>
                <li>01 Bad Feeling-Jagwar Twin</li>
                <li>02 Immortals-Fall Out Boy</li>
                <li>03 Radioactive-Imagine Dragons</li>
                <li>04 Lamento Boliviano-Los Enanitos Verdes</li>
            </ol>
        </div>
    

        <div class="recommendations">
           <h2>Recomendaciones</h2>
           <ul class="listaCanciones">
                <li> Canción 1 - Artista</li>
                <li> Canción 2 - Artista</li>
                <li> Canción 3 - Artista</li>
             </ul>
        </div>     
    </section>

    <!--footer player-->
    <footer>
        <div id="cancionArtista">
            <p id="artistaCancionR"><img id="imagCancion" href="../Statics/media/background.png">Artista</p>
            <p id="cancionReproducida">Canción reproduciendose</p>
        </div>
        <button id="favBtn"><img href=""></button>
        <button id="pastSong"><img href=""></button>
        <button id="playPausa"><img href=""></button>
        <button id="postSong"><img href=""></button>
        <button id="colaReproduccion"><img href=""></button>
    </footer>
</body>
</html>