<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/style/vistgenero.css">
    <title>Document</title>
</head>
<body>
     


    <aside id="botones">
        <p id="nombre"><img id="imgperfil" href="">Perfil</p>
        <p class="asideP">NAVEGAR</p>
        <div><button class="asideBtns" id="btnGenero">GENERO</button></div>
        <div><button class="asideBtns" id="btnPlaylist">PLAYLIST</button></div>
        <div><button class="asideBtns" id="btnArtistas">ARTISTAS</button></div>
        <p class="asideP" id="libreria">LIBRERIA</p>
        <div><button class="asideBtns" id="favoritos">FAVORITOS</button></div>
        <div><button class="asideBtns" id="btnAgregar">Agregar playlist</button></div>
    </aside>
    <nav>
        <form>
            <input type="text" name="buscador" id="buscador" placeholder="Buscar">
        </form>
        <div>
            <h2 id="nombrePagina">Falcon's Music</h2>
            <img id="logo" src="">
        </div>
    </nav>
   
    <section id="genero">
           
        <div style="display: flex; flex-direction: row;"><h2 id="art-encabezado">Genero musical</h2></div>
        <div id="gencont">
            
            <div id="carrart">
            <button class="atrasbtn"><</button>
           <div id="tarcarr"></div>
            <button class="enfrentebtn">></button>
            </div>


            </div>
        </div >    

        <div id="gene">


        </div>
    </section>




    <footer>
        <div id="cancionArtista">
            <p id="artistaCancionR"><img id="imagCancion" href="../Statics/media/background.png">Artista</p>
            <p id="cancionReproducida">Canción reproduciendose</p>
        </div>
        <button id="favBtn"><img href=""></button>
        <button id="pastSong"><img href=""></button>
        <button id="playPausa"><img href=""></button>
        <button id="postSong"><img href=""></button>
        <button id="colaReproduccion"><img href=""></button>
    </footer>

       <script src="../Dynamics/js/baseDeDatos.js"></script> 
       <script src="../Dynamics/js/vistgen.js"></script>
        
</body>
</html>